@import '../../../src/styles/shared/utils/index.scss';


body {
    margin: 0px;
}
.NavBarComponent {
    border-bottom: solid 2px $colorPrimary;
    background-color: white;
    width: 100%;
    height: 6rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content:center;
    align-items: center;
    // position: fixed;   
}

.NavLink {
    color: white;
    color: $colorPrimary;
    text-decoration: none;
    margin-right: 1rem;
    font: {
        size: 1.5rem;
        weight: bold;
    }
    &:hover {
        color: $colorHover;
    }
    
}