@import '../../../src/styles/shared/utils/index.scss';


.SesionesComponent {
    display: flex;
    width: 90%;
    margin: auto;
}

.FotosSesiones {
    margin-left: 2rem;
    display: flex;
    gap: 2rem;
}

.SesionesLinks {
    width: 100%;
    margin-right: 2rem; 
 
}

.TxSesiones {
    color: $colorPrimary;
    font-size: 2rem;
    font-family:sans-serif;
    text-align: center;
    margin-top: 8rem;
    margin-left: 7rem;
}

.CardSesiones {
    box-shadow: 0 8px 12px 6px rgb(138, 132, 131);
    width: 25%;
    transition: transform 0.5s;
    &:hover {
        transform: scale(1.1);
        }  
}

.CardText {
    color: $colorPrimary;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: center;
}
