@import '../../../src/styles/shared/utils/index.scss';

.FavoritasComponent {
    width: 80%;
    margin: auto;
}


.ContainerFotosFavoritas {
display: flex;
flex-direction: column;
// grid-template-columns: 20% 20% 20% 20% 20%;
// gap: 15px;
// padding: 0px;
}

.FavoritasTitle{
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.FotoComentario {
    display: flex;
}

.FotosFavoritas {
    width: 30%;
}

.BotonFotosFav {
    background-color: $colorPrimary;
    border: none;
    margin-right: 1rem;
    color: white;
    font-size: 0.8rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
    &:hover{
        background-color: $colorHover;
       }
}