.FavoritasComponent {
    width: 80%;
    margin: auto;
}


.ContainerFotosFavoritas {
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
gap: 15px;
padding: 0px;
}

.FotosFavoritas {
    width: 100%;
}