.CarruselComponent {
    width: 40%;
    margin-top: 6rem;
    margin-left: 20rem;
    margin-right: 50px;
    // background-color: red;
}

.ContainerFotosCarrusel {
    display: flex;
}

.FotosCarrusel{
    height: 25rem;
    width: auto;
    border: solid rgb(22, 22, 22) 4px;
}