.FalimiaComponent {
    // background-color: pink;
    width: 80%;
    margin: auto;
    
}

.ContainerFotosFam {
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    gap: 15px;
    padding: 0px;
}

.FotosFam {
    width: 100%;
}