.HomePage {
    background-color: orange;
}

h1 {
    margin: 0;
    padding: 0;
    color: green;
}
.Container {
    border: solid red 3px;
    width: 80%;
    display: flex;
    margin: auto;
}

.Name {
    color: red;
}

img {
    width: 40%;
}